


    body {

      background-size : 100%;
      background-position: center;
      background-repeat: space;
      height:300vh;
      text-align: center;
      font-stretch: expanded;
      font-family: 'Shadows Into Light', cursive, serif;
      color: white;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
	  0% {
		background-position: 0% 50%;
	  }
  	50% {
		background-position: 100% 50%;
	  }
	  100% {
		background-position: 0% 50%;
	  }
    }
      color: white;
      font-size: 18px;
    }

    h1 {
    font-family: 'Cedarville Cursive', cursive, serif;
    color: white;
    font-size: 40px;
    }

    h3 {
      font-family: 'Cedarville Cursive', cursive, serif;
      color: white;
      font-size: 30px;
    }

    ul {
      width: 50%;
      margin: auto;
      color: white;
    }

    #body {
      background-color: rgba(236, 90, 226, 0.4);
      max-width: 970px;
      margin: auto;
    }
