* {
  box-sizing: border-box;
}

body {
  background-size: 100%;
  background-position: center;
  background-repeat: space;
  height: 300vh;
  text-align: center;
  font-stretch: expanded;
  font-family: 'Shadows Into Light', cursive, serif;
  padding-top: 30px;
}

h1 {
  font-family: 'Cedarville Cursive', cursive, serif;
  color: white;
  font-size: 40px;
}

h3 {
  font-family: 'Cedarville Cursive', cursive, serif;
  color: white;
  font-size: 30px;
}

ul {
  width: 50%;
  margin: auto;
  color: white;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
  margin: 0 auto;
}

td {
  border: 1px solid white;
  padding: 15px;
}

a:hover {
  color: hotpink;
}

tr:hover {
  background-color: hotpink;
}

#body {
  background-color: rgba(236, 90, 226, 0.4);
  max-width: 970px;
  margin: auto;
}
