* {
  color: black;
  margin: 0px;
  padding: 1px 0px;
  font-family: tahoma;
  box-sizing: border-box;
  position: relative;
}

header {
  background-image: linear-gradient(rgba(91, 91, 91, 0.7), rgba(125, 153, 119, 0.7)), url(mtn.jpg);
  height: 100vh;
  background-size: cover;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
